// -*- jsonc -*-
// For format details, see https://containers.dev/implementors/json_reference/.
{
  "name": "devcontainer-{{ project_name }}",
  "build": {
    "dockerfile": "Containerfile"
  },
  // Log as rootless user
  "remoteUser": "worker",
  "containerUser": "worker",
  // Define container name and host name
  "runArgs": [
    "--name",
    "devcontainer-${localWorkspaceFolderBasename}",
    "--hostname",
    "{{ project_name }}"
  ],
  // Setup the repository on first connection
  "postCreateCommand": "just setup",
  // Set security for SE Linux
  "securityOpt": [ "label=disable" ],
  "customizations": {
    "vscode": {
      "settings": {
        "terminal.integrated.defaultProfile.linux": "bash"
      },
      "extensions": []
    }
  }
}
